.js .homepage-slides
{height:550px}
.js #homepage-slider 
.jcarousel-item
{max-width:100%}
.js #homepage-slider .jcarousel-control
{position:absolute;right:10px;bottom:20px}
.js #homepage-slider .jcarousel-control a
{background:none repeat scroll 0 0 #e0e0e0;border:1px solid #ccc;display:block;float:left;height:15px;margin:0 3px;text-indent:-999em;width:6px}
.js #homepage-slider .jcarousel-control a.active
{background-color:#666}
.js .home-bottom-left,.js .home-bottom-center,.js .home-bottom-right
{clear:none;float:left;width:33%}
.js .home-bottom-right .jcarousel-clip
{height:282px;overflow:hidden}
.js .home-bottom-right .vertical-carousel li
{height:282px;float:none;width:300px}
.js .home-bottom-right .product-tile
{min-height:0}
.js .home-bottom-right .jcarousel-prev
{background:url('../images/interface/icon-vertical-carousel-prev.png?1378917174') left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:20px;right:0;width:52px;z-index:999}
.js .home-bottom-right .jcarousel-next
{background:url('../images/interface/icon-vertical-carousel-next.png?1378917174') left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:0;right:0;width:52px;z-index:999}
.js .home-bottom-right .jcarousel-prev-disabled,.home-bottom-right .jcarousel-next-disabled
{display:none!important}
.js button.select
{display:none}
#homepage-slider .slider-next,#homepage-slider .slider-prev
{position:absolute;z-index:101;float:left;margin-left:87%;top:50%;margin-top:-19px}
#homepage-slider .slides_container
{overflow:visible!important}@media screen and (max-width:33.33333em){
	#homepage-slider .slides_container
	{height:20.41667em}}
#homepage-slider .slides_container div
{height:34.58333em;position:relative;overflow:visible}
@media screen and (max-width:33.33333em){#homepage-slider .slides_container div{height:auto}}
#homepage-slider .slides_container div img
{width:auto;height:35em}
@media screen and (max-width:33.33333em){#homepage-slider .slides_container div img{height:20.41667em}}
#homepage-slider .slides_control div
{margin-left:-27.5em}@media screen and (min-width:33.33333em) and (max-width:63.91667em){#homepage-slider .slides_control div{margin-left:-49.16667em}}#homepage-slider .slides_control,#homepage-slider #slides,#homepage-slider .slides_container,#homepage-slider #homepage-slider{overflow:visible}#homepage-slider div#slides{position:relative;margin-bottom:20px;height:35em;width:83.41667em;margin:0 auto}@media screen and (min-width:33.33333em) and (max-width:63.91667em){#homepage-slider div#slides{width:33.33333em}}@media screen and (max-width:33.33333em){#homepage-slider div#slides{height:20.41667em}}#homepage-slider .morebutton{text-transform:uppercase;position:absolute;z-index:101;padding:8px 13px 8px 13px;cursor:pointer;-webkit-border-radius:14px 14px;-moz-border-radius:14px / 14px;border-radius:14px / 14px;background:white;color:black;font-weight:bold;bottom:30px;left:50%;margin-left:-47px}#homepage-slider .morebutton:hover{background:black;color:white}@media screen and (max-width:33.33333em){#homepage-slider .morebutton{bottom:.83333em}}
#homepage-slider .slider-next
{margin-left:87%}@media screen and (min-width:33.33333em) and (max-width:63.91667em){#homepage-slider .slider-next{margin-left:87%}}
@media screen and (max-width:33.33333em){#homepage-slider .slider-next{margin-left:28%}}
#homepage-slider .slider-prev
{margin-left:10%}
@media screen and (min-width:33.33333em) and (max-width:63.91667em){#homepage-slider .slider-prev{margin-left:10%}}
@media screen and (max-width:33.33333em){#homepage-slider .slider-prev{margin-left:1%}}
#homepage-slider .slider-pagination
{position:absolute;margin-top:-20px;margin-left:-10px;z-index:101;left:50%}
#homepage-slider .slider-pagination li
{float:left;margin:0 1px;list-style:none}
#homepage-slider .slider-pagination li a
{display:block;width:12px;height:0;padding-top:12px;background-image:url('../images/pagination.png?1378917174');background-position:0 0;float:left;overflow:hidden}
#homepage-slider .slider-pagination li.current a
{background-position:0 -12px}
.js .loader
{position:absolute;left:0;top:0;width:100%;height:100%}
.js .loader-bg
{position:absolute;width:100%;height:100%;background-color:#fff;opacity:.7}
.js .loader-indicator
{z-index:100;position:absolute;left:50%;top:50%;width:64px;height:64px;background:url('../images/loading-small.gif?1378917174') no-repeat}
.js #quickviewbutton
{background:transparent url('../images/quickview.gif?1378917174') center center no-repeat;display:none;position:absolute;top:50%;width:100%;height:17px;padding:10px 0}
.js .ie7 #quickviewbutton
{position:absolute;left:0;width:200px}
.js .product-image:hover #quickviewbutton
{display:block}
.js .ui-dialog-content a
{color:#22b0e8}
.js .ui-dialog-content .product-col-1
{padding:13px 1%;width:39%}
.js .ui-dialog-content .product-col-1 .product-image
{max-width:100%}
.js .ui-dialog-content .product-col-2
{padding:20px 0;width:58%}
.js .ui-dialog-content .pdp-main h1.product-name
{margin:.4em 0 .1em;width:58%}
.js .ui-dialog-content .pdp-main .product-set-list
{border:1px solid #d9d9d9;height:500px;overflow:auto}
.js .ui-dialog-content .pdp-main .product-set-list .product-set-item
{margin:1em 0}.js .ui-dialog-content .pdp-main .product-set-list .product-set-image{width:25%}.js .ui-dialog-content .pdp-main .product-set-list .product-set-details{width:75%}.js .ui-dialog-content .pdp-main .product-set-list .product-name{margin:0}.js .ui-dialog-content .pdp-main .product-set-list .block-add-to-cart .price{font-size:1.5em;padding:.4em 0 0;width:130px}.js .zoomPad{position:relative;float:left;z-index:99;cursor:crosshair;width:100%}.js .zoomPreload{-moz-opacity:.8;opacity:.8;filter:alpha(opacity=80);color:#333;font-size:12px;font-family:Tahoma;text-decoration:none;border:1px solid #CCC;background-color:white;padding:8px;text-align:center;background-image:url('../images/zoomloader.gif?1378917174');background-repeat:no-repeat;background-position:43px 30px;z-index:110;width:90px;height:43px;position:absolute;top:0;left:0;*width:100px;*height:49px}.js .zoomPup{overflow:hidden;background-color:#FFF;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60);z-index:120;position:absolute;border:1px solid #CCC;z-index:101;cursor:crosshair}
.js .zoomOverlay
{position:absolute;left:0;top:0;background:#FFF;z-index:5000;width:100%;height:100%;display:none;z-index:101}
.js .zoomWindow
{position:absolute;left:110%;top:40px;background:#FFF;z-index:6000;height:auto;z-index:10000;z-index:110}
.js .zoomWrapper
{position:relative;border:1px solid #999;z-index:110}
.js .zoomWrapperTitle
{display:block;background:#999;color:#FFF;height:18px;line-height:18px;width:100%;overflow:hidden;text-align:center;font-size:10px;position:absolute;top:0;left:0;z-index:120;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60)}
.js .zoomWrapperImage
{display:block;position:relative;overflow:hidden;z-index:110}
.js .zoomWrapperImage img
{border:0;display:block;position:absolute;z-index:101}
.js .zoomIframe
{z-index:-1;filter:alpha(opacity=0);-moz-opacity:.80;opacity:.80;position:absolute;display:block}
.header-search
{width:100%;position:absolute;display:none;background:#4c4c4c;height:6.66667em;z-index:9999}@media screen and (min-width:33.33333em) and (max-width:63.91667em){.header-search
{height:5em}}
@media screen and (max-width:33.33333em){
	.header-search{height:4.16667em}}.header-search form{max-width:83.33333em;height:100%;margin:0 auto}.header-search input[type="text"]{width:73%;height:2.5em;line-height:2.5em;font-size:2.66667em;float:left;background:#4c4c4c;color:white;border:0;margin:0;padding:0;overflow:hidden;*zoom:1}@media screen and (min-width:33.33333em) and (max-width:63.91667em){.header-search input[type="text"]{max-width:60%;height:2.5em;font-size:2em;padding-left:.66667em}}@media screen and (max-width:33.33333em){.header-search input[type="text"]{max-width:60%;height:3.125em;font-size:1.33333em;padding-left:1em}}.header-search input[type="text"]::-webkit-input-placeholder{color:gray}.header-search input[type="text"]:-moz-placeholder{color:gray}.header-search input[type="text"]::-moz-placeholder{color:gray}.header-search input[type="text"]:-ms-input-placeholder{color:gray}.header-search .actions{float:right;margin:1.33333em 0 0 0}@media screen and (min-width:33.33333em) and (max-width:63.91667em){.header-search .actions{margin:.5em 1em 0 0}}
	@media screen and (max-width:33.33333em){
		.header-search .actions
		{margin:.66667em 1.25em 0 0}}
.header-search .actions span
{display:inline-block}
.header-search button
{font-size:1.83333em;width:2.09091em;height:2.09091em;padding:0;background:none repeat scroll 0 0 #535353}
@media screen and (max-width:33.33333em){
	.header-search button{width:1.45455em;height:1.45455em}}
	.header-search .action-search
	{background:url('../images/sprites_header_footer-s1238a817e2.png') -46px -170px no-repeat transparent;margin-right:.58333em}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2 / 1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx)
	{
		.header-search .action-search{background-image:url('../images/sprites_header_footer@2x-s2ee6dec935.png');background-position:-30px -150px;-webkit-background-size:160px 242px;-moz-background-size:160px 242px;-o-background-size:160px 242px;background-size:160px 242px;background-repeat:no-repeat}}
		@media screen and (max-width:33.33333em){.header-search .action-search{background:url('../images/sprites_header_footer-s1238a817e2.png') -60px -90px no-repeat transparent;margin-right:.41667em}}
		@media only screen and (max-width:33.33333em) and (-webkit-min-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (min--moz-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (-o-min-device-pixel-ratio:2 / 1),only screen and (max-width:33.33333em) and (min-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (min-resolution:192dpi),only screen and (max-width:33.33333em) and (min-resolution:2dppx){
			.header-search .action-search
		{background-image:url('http://demandware.edgesuite.net/aalw_prd/on/demandware.static/Sites-converse-Site/-/default/v1397486224708/images/sprites_header_footer-s1238a817e2.png');background-position:-90px -78px;-webkit-background-size:160px 242px;-moz-background-size:160px 242px;-o-background-size:160px 242px;background-size:160px 242px;background-repeat:no-repeat}}
		.header-search .action-close{background:url('../images/sprites_header_footer-s1238a817e2.png') 0 -170px no-repeat transparent}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2 / 1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){
			.header-search .action-close
			{background-image:url('../images/sprites_header_footer@2x-s2ee6dec935.png');background-position:-40px -196px;-webkit-background-size:160px 242px;-moz-background-size:160px 242px;-o-background-size:160px 242px;background-size:160px 242px;background-repeat:no-repeat}}
		@media screen and (max-width:33.33333em){.header-search .action-close{background:url('http://demandware.edgesuite.net/aalw_prd/on/demandware.static/Sites-converse-Site/-/default/v1397486224708/images/sprites_header_footer-s1238a817e2.png') -92px -90px no-repeat transparent}}
		@media only screen and (max-width:33.33333em) and (-webkit-min-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (min--moz-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (-o-min-device-pixel-ratio:2 / 1),only screen and (max-width:33.33333em) and (min-device-pixel-ratio:2),only screen and (max-width:33.33333em) and (min-resolution:192dpi),only screen and (max-width:33.33333em) and (min-resolution:2dppx){
			.header-search .action-close
			{background-image:url('../images/gSpotHandyCraftsIcon.png');background-position:-122px -78px;-webkit-background-size:160px 242px;-moz-background-size:160px 242px;-o-background-size:160px 242px;background-size:160px 242px;background-repeat:no-repeat}}
			#suggestions
			{width:100%;max-height:20em;font-size:1.33333em;background-color:#4c4c4c;color:#efeee8;cursor:pointer;padding:0;display:block;position:absolute;z-index:8184}
			#suggestions li
			{border-bottom:1px solid #e6e5dd;background:#efeee8;line-height:1.375em}
			#suggestions li span
			{display:block;color:gray;padding:.8em 0;line-height:normal;max-width:62.5em;margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
		@media screen and (max-width:33.33333em){
			#suggestions li span{padding:.5em 1em}}
			#suggestions li span:hover{color:#333}